/* styles.css */

/* Fondo de la ventana principal para un tema de fútbol */

/* Estilo para todos los botones */
button {
    background-color: yellow; /* Fondo amarillo */
    color: black; /* Texto negro */
    padding: 5px;
    border-radius: 10px;
    border: 2px solid white; /* Borde blanco */
    font-weight: bold;
}

/* Estilos de etiquetas */

/* Estilos para los campos de entrada */
.entry {
    background-color: #e0f7e9; /* Verde claro para el campo de entrada */
    color: #333333; /* Texto oscuro */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid red; /* Borde rojo */
}

.entry:focus {
    border-color: #388e3c; /* Verde más oscuro al enfocar */
    outline: none;
}

/* Estilos específicos para los botones dentro de board_window */

