/* --- BUTTONS --- */
button {
    opacity: 0.05;
    /* 10% de opacidad */
    color: white;
    /* Color del texto */
    padding: 10px;
    /* Espaciado interno */
    border: none;
    /* Sin borde */
    background-color: transparent;
    /* Fondo transparente */
}

button:hover {
    background-color: darkgreen;
    opacity: 0.4;
    /* Color más oscuro en hover, también al 50% de transparencia */
}

#button-grid {
    margin: 10px;
}

/* --- MAIN WINDOW --- */
#main-window {
    background-image: url("board.png");
    background-size: auto 100%;
    /* Ajusta solo la altura */
    background-position: center;
    /* Centra la imagen horizontalmente */
    background-repeat: no-repeat;
}

